*{
    padding: 0;
    margin: 0;
}


.zucugol-godines{
    margin-top: 10px;
    list-style: none;
    background-color:lawngreen
}

.messi-enbolainas{
    display: inline-block;
    padding-left: 10px;
}
.messi-enbolainas a{
    color:orangered;
    text-decoration: none;
}
.messi-enbolainas a:hover{
    color:yellow;
}
.messi-enbolainas a:active{
    color: navy;
}
    .messi-enbolainas a::after{
    content:"  |  ";
}